FLASK_DEBUG=true
APP_PORT=8000
DATABASE_NAME=hackathon_db
DATABASE_HOST=db
GRAFANA_PASSWORD=admin
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your/webhook
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
REDIS_HOST=localhost
